<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test_2">
    <classes>
      <class name="normalFlowTest.managerFlow_Test"/>
      <class name="Mytestpackage.DropdownTest"/>
      <class name="_360DFeedback.Send360formtoEmployess_Test"/>
      <class name="Mytestpackage.addNewGoaltest"/>
      <class name="normalFlowTest.addGoalPla_CreatePMSCycleTest"/>
      <class name="Mytestpackage.degreeFedback360pagetest"/>
      <class name="ManagerTestPage.managertestHomePage"/>
      <class name="Basic.employeepage"/>
      <class name="Basic.EmpNormalFlowTest"/>
      <class name="_360DFeedback.Respons_totheForm_Test"/>
      <class name="Mytestpackage.Homepagetest"/>
      <class name="normalFlowTest.employeeFlow_Test"/>
    </classes>
  </test> <!-- Test_2 -->
</suite> <!-- Suite -->
